h1{
  padding: 0px;
  margin: 0px
}
body{
  padding: 0px;
  margin: 0px;
}

footer{
  background: #C0DAC1;
  padding: 0px;
  margin: 0px;
}

.titulo{
  color: #f1f1f1;
  background: #D30B12;
  text-align: center;
  padding: 15px;
  margin: 0px;
}

.titulo h1{
  padding: 5px;
  margin: 0px;
  font-size: 32px;
  font-family: georgia;
}

.titulo p{
  padding: 5px;
  margin: 0px;
  font-size: 22px;
  font-family: Courier New;
}

.navmenu{
  text-align: center;
  background: #C0DAC1;
  padding-top: 7px;
  padding-bottom: 7px;
}

.navmenu a{
  text-decoration: none;
  color: #010101;
  padding: 18px;
  font-size: 18px;
  font-family: calibri;
  font-weight: 500;
}

.navmenu a:hover, .navmenu a.active{
  text-decoration: underline;
  color: #D30B12;
}

.titulonoticiadest{
  display: block;
  text-align: center;
}

.titulonoticiadest h2{
  font-size: 26px;
  font-family: calibri;
  font-weight: 700;
  text-decoration: #D30B12 underline dotted;
}

.linha{
  display: flex;
}

.imgmessi{
  width: 55%;
  padding: 10px;
}

.textodest h3{
  margin: 0px 0px 10px 0px;
  font-size: 22px;
  font-family: Tahoma;
  text-align: justify;
}

.textodest p{
  margin: 0px;
  width: 100%;
  font-size: 18px;
  font-family: Segoe UI;
  text-align: justify
}

.imgmessi img{
  width: 100%;
  height: auto;
  display: block;
}

.textodest{
  width: 45%;
  padding: 10px;
}

.link{
  padding-top: 15%;
}

.link a{
  padding: 5px;
  text-decoration:none;
  color: #D30B12;
  border: 2px solid #D30B12;
  background: #C0DAC1;
  border-radius: 10px;
}

.link a:hover{
  text-decoration: underline;
  color: #C0DAC1;
  background: #D30B12;
  border-radius: 10px;
  border: 2px solid #010101;
}

.titulosecao h3{
  text-align: center;
  font-family: Tahoma;
  font-size: 24px;
  padding-top: 35px;
  text-decoration: #D30B12 underline dotted;
}

.noticias{
  display: flex;
}

.noticias h4{
  text-align: center;
  font-size: 22px;
  font-family: calibri;
  font-weight: bold;
}
.notesportes, .noteconomia, .nottech{
  margin:0px 10px 0px 10px;
  border: 2px solid #010101;
  width: 33%;
  padding: 3px 10px 10px 10px;
}

.noticias .titulop{
  text-align: center;
  font-weight: 500;
  font-family: Segoe UI;
  color: #010101;
  font-size: 18px;
}

.notesportes p, .noteconomia p, .nottech p{
  text-align: justify;
  font-family: arial;
  color: #242424;
  font-size: 15px;
}  


.titulordp{
  color: #f1f1f1;
  background: #D30B12;
  text-align: center;
  padding: 15px;
  margin: 75px 0px 0px 0px;
  font-family: Arial;
}

.dev{
  margin: 0px;
  padding: 5px;
  text-align: center;
  color: #010101;
  font-family: Segoe UI;
  font-size: 16px;
}

.linkhome a{
  margin-top: 25;
  padding: 5px;
  text-decoration:none;
  color: #D30B12;
  border: 2px solid #D30B12;
  background: #C0DAC1;
  border-radius: 10px;
  text-align: center;
}

.linkhome a:hover{
  text-decoration: underline;
  color: #C0DAC1;
  background: #D30B12;
  border-radius: 10px;
  border: 2px solid #010101;
}

.imgmessipag2 img{
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.textodestpag2 h3{
  padding-top: 40px;
  font-size: 20px;
  font-family: Tahoma;
  text-align: center;
}

.textodestpag2 p{
  padding: 15px;
  font-size: 16px;
  font-family: Segoe UI;
  text-align: center;
}


