h1{
  padding: 0px;
  margin: 0px
}
body{
  padding: 0px;
  margin: 0px;
}

.titulo{
  color: #f1f1f1;
  background: #D30B12;
  text-align: center;
  padding: 5px;
}
.titulo p{
  padding: 5px;
  margin: 0px;
}

.navmenu{
  text-align: center;
  background: #C0DAC1;
  color: #010101;
  padding: 7px;
}

.navmenu a{
  text-decoration: none;
  padding: 7px;
}
